html {



}

#memory {

    margin-top: 10%;
    width: 30%;
    padding: 100px; 
    margin-left: 25%;
    background-color: white;
}
#memorytable{

    width: 100%;
}

#memorytable img {
    width: 10%;
    margin-left: 8%;
}
    