/*#memory {

    float:left;
    margin-left:30%;
    margin-top: 10%;

}

    #memory td {
    
        width: 10%;
        padding: 0,10px, 0, 0;
    
    }

    #memory img {
    
    width: 50%;
    height: 200%

    }*/


#memory {

    margin-top: 10%;
    width: 100%;
    margin-left: 35%;
}
#memorytable{

    width: 100%;
}

#memorytable img {
    width: 4.5%;
}
    