html {

background: url("../pics/bg.jpg") no-repeat;
background-size:100%;

}

body {

    width: 100%;

}

#toolbar {

    width: 100.2%;
    height: 10%;  
    margin-top: 61.5%;
    margin-left: -0.6%;
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0 0 30px #00f;
    -moz-box-shadow: inset 0 0 30px #00f;
    box-shadow: inset 0 0 30px #ffffff;
    opacity: 0.9;
    /*border-bottom: 5px rgba(125, 125, 125, 0.5);*/


}

#toolbar img {
    
    margin-left: 5%;
    margin-top: 0.7%;
    border: 1px solid white;
    padding: 1px;
    background-color: white;
    position: absolute;
}


#popupdiv{
    
    width: 800px;
    height: 500px;
    margin-top: -60%;
    margin-left: 10%;
    background-color: white;
    border: 3px solid rgb(59,103,158);
    -webkit-box-shadow: -20px 0px 100px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -20px 0px 100px rgba(0, 0, 0, 0.28);
    -o-box-shadow: -20px 0px 100px rgba(0, 0, 0, 0.28);

}



#popuptop {

    background: rgb(197,222,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,222,234,1)), color-stop(31%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* W3C */
    padding: 0, 0, 20px, 0;
    width: 100%;
    height: 12%;

}

#popuptextdiv {

    float: left;
    margin-top: -3.5%;
    margin-left: 40%;

}

#popuptop p {

    color: white;
    font-weight: bolder;

}

#popuppicdiv img {

    margin-top: 1%;
    margin-left: 5%;
    width: 6%;
    border: 1px solid white;
    

}

#closebuttondiv {

   float: right;
   margin-top: -5%;
   margin-right: 1%;

}

#closebuttondiv input {
    
background: rgb(59,103,158); /* Old browsers */
background: -moz-linear-gradient(top, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
border-color: rgb(59,103,158);
border-width: 3px;
color: white;
    

}




#winbottom {

    background: rgb(197,222,234); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,222,234,1)), color-stop(31%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* W3C */
    padding: 0, 0, 20px, 0;
    width: 100.1%;
    height: 12%;
    margin-top: -2%;
    border-right: 1px thick rgb(59,103,158);
    border-bottom: 1px thick rgb(59,103,158);
    border-top: 1px thick rgb(59,103,158);


}

#winbottom img {

    float: left;
    width: 8%;
    margin-left: 42%;
    margin-top: 2%;

}


#contentdiv {

    width: 100%;
    height: 80%;
    overflow: scroll;
    background-color: white;
    

}

#contentdiv div{

    margin-bottom: 50px;
    

}

.imgbox {
    
    /* Bredd och höjd satt med javascript*/ 
    
    background-color: #AFB9D1;
    float: left;
    margin-left: 50px;
    margin-top: 50px;

}

.imgbox img {
       
   margin-top: 10%;
   margin-right: 25%;
   padding: 0 20% 0 25%;
    
}

.imgbox img:hover {
    
    cursor: pointer;
    
}

