#personaldata label {

float: left;


}

#payment {

    float: left;
    margin-left:30%;

}

#send {
    
    background: #ffc578; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc578 0%, #fb9d23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
    /*background-color: orange;*/
    color: white;
    border: 1px solid black;
    font-family: Arial;
    font-size: 12px;
}



h1 {

    font-family: Arial;

}

label {

    font-family: Arial;
    font-size: 12px;
}

#fn1 p {

    color: red;
}

#fn1 {

    float: right;
    margin-top: -10px;
}

#ln p {

    color: red;

}

#ln {

    float: right;
    margin-top: -10px;
    
}

#zc p {

    color: red;
}

#zc p {
    
    float: right;   
    margin-top: -20px;
    margin-right: 15%;
}